    <section class="form">
        <h2>Formulario</h2>
        <p>Título</p>
        <input type="text" placeholder="Introduce título" [(ngModel)]="inputTitle">

        <p>Imagen</p>
        <input type="text" placeholder="Introduce URL de la imagen" [(ngModel)]="inputImage">
        
        <p class="new-body">Cuerpo de la noticia</p>
        <textarea  type="text" placeholder="Introduce la noticia" [(ngModel)]="inputTexto"></textarea>

        <p>Introduce la fecha</p>
        <input type="date" placeholder="Fecha" [(ngModel)]="inputDate">

        <!--Creamos una función para emitir el evento -->
        <button (click)="guardarNoticia($event)">Guardar</button> 
    </section>
